{
    "version": "1.0.0",
    "prefix": "<bot_prefix>",
    "cooldown": <bot_cooldown>,
    "authdata": {
        "discordToken": "<discord token to auth>",
        "peppy": "<osu_api_token>"
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379,
        "password": "<redis password>",
        "db": <redis db index>
    },
    "channels": {
        "score_posting": "<channel in who bot should posting new score>",
        "map_posting": "<channel in who bot should posting new ranked maps>",
        "ban_posting": "<channel in who bot should posting bad users>"
    },
    "web": {
        "host": "127.0.0.1",
        "port": <port_web_server>,
        "token": "<mega_secret_token_for_auth_api_requests>"
    }
}